@font-face {
  font-family: "fontawesome";
  src: url(../fonts/fontawesome/fontawesome-light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "fontawesome";
  src: url(../fonts/fontawesome/fontawesome-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat";
  background: #F1F1F1;
  color: #000;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

::before,
::after {
  font-family: "fontawesome";
  font-weight: 300;
  font-style: normal;
}

.icon-search::before {
  content: "\f002";
  font-size: 20px;
}

.icon-burger::before {
  content: "\f0c9";
  font-size: 18px;
}

.icon-heart::before {
  content: '\f004';
  line-height: 18px;
  font-size: 18px;
}

.icon-shop::before {
  content: '\f07a';
  line-height: 18px;
  font-size: 18px;
}

.icon-user::before {
  content: '\f007';
  line-height: 18px;
  font-size: 18px;
}

.icon-clock::before {
  content: '\f017';
  line-height: 18px;
  font-size: 18px;
}

.icon-vk::before {
  content: '\f189';
  line-height: 20px;
  font-size: 22px;
  font-weight: 400;
  color: #000;
}

.icon-youtube::before {
  content: '\f167';
  line-height: 19px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.icon-instagram::before {
  content: '\f16d';
  line-height: 18px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.icon-fb::before {
  content: "\f39e";
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 20px;
  background: #E1E1E1;
  border-radius: 8px;
}

.card__img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 16px;
}

.card__price {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-bottom: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__link:last-of-type {
  top: 85px;
}

.discount {
  width: 103px;
  height: 45px;
  border-radius: 8px;
  background: #323232;
  position: absolute;
  top: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.discount__amount {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.clock__box-img {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.clock__box-desc {
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mainTitle {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-align: center;
  margin: 100px 0;
}

.cardBig__advice,
.cardSmall__advice {
  background: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.cardBig__advice .advice,
.cardSmall__advice .advice {
  color: #323232;
  font-size: 16px;
  font-weight: 400;
}

.cardBig__img {
  width: 100%;
  height: 360px;
  -o-object-fit: cover;
  object-fit: cover;
}

.cardSmall__img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.card__bg {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.7);
  width: 100%;
  height: 100%;
}

.cardBig__title,
.cardSmall__title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cardBig__desc,
.cardSmall__desc {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #E1E1E1;
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cardBig__date,
.cardSmall__date {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.icon-clock {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.cardSmall__date,
.cardBig__date {
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.footer-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 13px;
  color: #000;
  display: inline-block;
  margin-bottom: 10px;
}

.footer-link-contact {
  font-size: 18px;
  font-weight: 400;
  color: #323232;
  display: inline-block;
  margin-bottom: 15px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.logo__logo {
  font-size: 32px;
  line-height: 23px;
  font-weight: 700;
  color: #323232;
  margin: 18px 0 19px;
}

.logo .icon-search {
  color: #000;
}

.logo__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 13px;
}

.logo::before {
  content: '';
  width: 100%;
  height: 1px;
  background: #C4C4C4;
  position: absolute;
  bottom: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 20px 0;
}

.nav__btn {
  border: none;
  background: none;
  color: #000;
  display: none;
}

.nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 19px;
  position: relative;
}

.nav .menu.active {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.nav .menu__link {
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  margin-right: 50px;
}

.nav .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 19px;
}

.nav .service__link {
  color: #000;
  margin-left: 30px;
}

.nav::before {
  content: '';
  width: 100%;
  height: 1px;
  background: #C4C4C4;
  position: absolute;
  bottom: 0;
}

.header__nav {
  background: rgba(241, 241, 241, 0.5);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.clock {
  margin-top: 40px;
}

.clock .clock__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 385px);
  gap: 30px;
}

.clock .clock__content .clock__card:nth-of-type(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.clock .clock__content .clock__card:nth-of-type(1) .card__link {
  right: 27px;
}

.clock .clock__content .clock__card:nth-of-type(1) .discount {
  left: 13px;
}

.clock .clock__content .clock__card:nth-of-type(1) .clock__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 422px;
}

.clock .clock__content .clock__card:nth-of-type(1) .clock__box .clock__box-img {
  margin-right: 40px;
}

.clock .clock__content .clock__card:nth-of-type(1) .clock__box .clock__box-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.clock .clock__content .clock__card:nth-of-type(2) .clock__box-img {
  height: 242px;
  margin-bottom: 32px;
}

.clock .clock__content .clock__card:nth-of-type(3) .clock__box-img {
  height: 242px;
  margin-bottom: 32px;
}

.cards__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.cards__content .manyCards {
  max-width: 247px;
  width: 100%;
  height: 317px;
}

.cards__content .manyCards__box {
  max-width: 96px;
  width: 100%;
  height: 185px;
  margin-bottom: 27px;
}

.news {
  margin-bottom: 116px;
}

.news__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__cards .news__box1 {
  margin-right: 15px;
}

.news__cards .news__box2 {
  margin-left: 15px;
}

.news__big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.news__big .cardBig {
  position: relative;
}

.news__big .cardBig__advice {
  width: 133px;
  height: 50px;
}

.news__big .cardBig__title {
  top: 110px;
  left: 20px;
}

.news__big .cardBig__desc {
  top: 188px;
  left: 24px;
  -webkit-line-clamp: 4;
  margin-right: 41px;
}

.news__big:first-child {
  margin-bottom: 30px;
}

.news__big:last-of-type {
  margin-top: 30px;
}

.news__small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.news__small .cardSmall {
  position: relative;
}

.news__small .cardSmall__advice {
  width: 103px;
  height: 40px;
}

.news__small .cardSmall__title {
  top: 83px;
  left: 19px;
}

.news__small .cardSmall__desc {
  top: 146px;
  left: 19px;
  -webkit-line-clamp: 2;
}

.news__small .cardSmall:first-of-type {
  margin-right: 15px;
}

.news__small .cardSmall:last-of-type {
  margin-left: 15px;
}

.footer {
  background: #fff;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 65px 28px 0 0;
}

.footer__contacts .footer__menu-title {
  margin-bottom: 22px;
}

.footer__contacts .footer__menu-title2 {
  margin-top: 6px;
}

.service__link {
  margin-right: 14px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 63px;
  text-align: center;
}

.footer__menu-title {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2.5px;
  color: #323232;
  margin-bottom: 40px;
}

@media (max-width: 1110px) {
  .container {
    max-width: 992px;
  }

  .cards__content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
    row-gap: 30px;
  }

  .cards__content .manyCards {
    margin: auto;
  }

  .footer__content {
    text-align: center;
    padding-right: 0;
  }

  .footer__content .goods {
    display: none;
  }

  .social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }

  .nav__btn {
    display: block;
    margin-left: 19px;
  }

  .nav .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 60px;
    padding-left: 0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    background: rgba(241, 241, 241, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }

  .nav .menu__link {
    display: inline-block;
    padding: 5px;
    margin-right: 0;
    width: 150px;
  }

  .nav .menu__link:hover {
    color: #000;
    font-weight: 700;
  }

  .nav .service {
    margin-left: auto;
  }

  .clock .clock__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .clock .clock__content .clock__card:nth-of-type(1) {
    grid-row: span 1;
    height: 550px;
  }

  .clock .clock__content .clock__card:nth-of-type(1) .clock__box .clock__box-img {
    margin-right: 20px;
  }

  .cards__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .mainTitle {
    margin: 80px 0;
  }

  .news__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .news__cards .news__box1 {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .news__cards .news__box2 {
    margin-left: 0;
  }

  .news__big .cardBig {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }

  .cards__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .mainTitle {
    margin: 60px 0;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 0 0 0;
  }

  .social {
    margin-bottom: 20px;
  }

  .footer__menu-title {
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  .clock .clock__content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 460px);
  }

  .clock .clock__content .clock__card:nth-of-type(1) {
    grid-row: span 1;
    grid-column: span 1;
    height: auto;
  }

  .clock .clock__content .clock__card:nth-of-type(1) .discount {
    left: 20px;
  }

  .clock .clock__content .clock__card:nth-of-type(2) {
    grid-row: span 1;
  }

  .clock .clock__content .clock__card:nth-of-type(2) .clock__box {
    height: 422px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .clock .clock__content .clock__card:nth-of-type(2) .clock__box .clock__box-img {
    margin-right: 20px;
  }

  .clock .clock__content .clock__card:nth-of-type(2) .clock__box .clock__box-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .clock .clock__content .clock__card:nth-of-type(2) .clock__box-img {
    margin-bottom: 15px;
    height: 100%;
  }

  .clock .clock__content .clock__card:nth-of-type(3) {
    grid-row: span 1;
  }

  .clock .clock__content .clock__card:nth-of-type(3) .clock__box {
    height: 422px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .clock .clock__content .clock__card:nth-of-type(3) .clock__box .clock__box-img {
    margin-right: 20px;
  }

  .clock .clock__content .clock__card:nth-of-type(3) .clock__box .clock__box-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .clock .clock__content .clock__card:nth-of-type(3) .clock__box-img {
    margin-bottom: 15px;
    height: 100%;
  }

  .cards__content .manyCards__box {
    margin-bottom: 10px;
  }

  .mainTitle {
    margin: 40px 0;
    font-size: 18px;
  }

  .news__small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .news__small .cardSmall:first-of-type {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .news__small .cardSmall:last-of-type {
    margin-left: 0;
  }

  .footer__contacts .footer__menu-title {
    margin-bottom: 15px;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .clock .clock__content .clock__card:nth-of-type(1) .clock__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .clock .clock__content .clock__card:nth-of-type(1) .clock__box-img {
    height: 80%;
  }

  .clock .clock__content .clock__card:nth-of-type(2) .clock__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .clock .clock__content .clock__card:nth-of-type(2) .clock__box-img {
    height: 80%;
  }

  .clock .clock__content .clock__card:nth-of-type(3) .clock__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .clock .clock__content .clock__card:nth-of-type(3) .clock__box-img {
    height: 80%;
  }
}

@media (max-width: 400px) {
  .logo__logo {
    font-size: 25px;
  }
}

@media (max-width: 350px) {
  .clock .clock__content {
    grid-template-rows: repeat(3, 350px);
  }

  .clock .clock__content .clock__card:nth-of-type(1) {
    max-width: 247px;
    width: 100%;
    height: 317px;
    margin: auto;
  }

  .clock .clock__content .clock__card:nth-of-type(1) .clock__box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .clock .clock__content .clock__card:nth-of-type(1) .clock__box-img {
    height: 185px;
    max-width: 96px;
    width: 100%;
    margin-bottom: 10%;
    margin-right: 0;
    margin-top: 10px;
  }

  .clock .clock__content .clock__card:nth-of-type(1) .card__link {
    right: 20px;
  }

  .clock .clock__content .clock__card:nth-of-type(1) .clock__box .clock__box-img {
    margin-right: 0;
    margin-bottom: 0;
  }

  .clock .clock__content .clock__card:nth-of-type(2) .clock__box-img {
    margin-bottom: 0 !important;
    margin-right: 0 !important;
  }

  .clock .clock__content .clock__card:nth-of-type(2) {
    max-width: 247px;
    width: 100%;
    height: 317px;
    margin: auto;
  }

  .clock .clock__content .clock__card:nth-of-type(2) .clock__box {
    height: 295px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .clock .clock__content .clock__card:nth-of-type(2) .clock__box-img {
    height: 185px;
    max-width: 96px;
    width: 100%;
    margin-bottom: 10%;
    margin-right: 0;
    margin-top: 10px;
  }

  .clock .clock__content .clock__card:nth-of-type(3) {
    max-width: 247px;
    width: 100%;
    height: 317px;
    margin: auto;
  }

  .clock .clock__content .clock__card:nth-of-type(3) .clock__box {
    height: 295px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .clock .clock__content .clock__card:nth-of-type(3) .clock__box-img {
    height: 185px;
    max-width: 96px;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 10px;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
}